.fade{
	color: red;
}
.fade.ng-enter{
	transition:1s linear all;
  	opacity: 0;
	color: yellow;
}
.fade.ng-enter.ng-enter-active {
	color: red;
	opacity: 1;
}

.fade.ng-leave{
	animation: fade_animation 0.5s linear;
}

@keyframes fade_animation{
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		color: yellow;
	}
}