<!DOCTYPE html>
<html>
	<head>
		<title>Angular Animation App</title>	
		<link rel="stylesheet" type="text/css" href="css/main.css">

		<script type="text/javascript" src="js/angular.js"></script>	
		<script type="text/javascript" src="js/angular-animate.js"></script>
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
	</head>
	<body ng-app="animApp">
		<div ng-controller="appController as ac">
			<div class="fade" ng-show="ac.showDiv">
				Fade In/Out
			</div>
			<button ng-click="ac.showDiv=true">Show Div</button>
			<button ng-click="ac.showDiv=false">Hide Div</button>
		</div>
	</body>
</html>